<tr>
    <td class="table-cell"> <%= link_to movie.title, movie_path(movie, sort: params[:sort], direction: params[:direction]) %></td>
    <td class="table-cell"><%=movie.rating%></td>
    <td class="table-cell"><%=movie.release_date%>4</td>
</tr>

